---
import Layout from '../layouts/Layout.astro';
import { Grid, uuidv4 } from '../components/Atoms/Grid';
import type { Column, Item, ItemValue, Option } from '../types/gridTypes';

export const availableOptions: Option[] = [
  { id: 'cat1', label: 'Category 1' },
  { id: 'cat2', label: 'Category 2' },
  { id: 'cat3', label: 'Category 3' },
];

const columns: Column<ItemValue>[] = [
  { id: 'id', label: 'Id', key: 'id', type: 'text', sortable: true },
  { id: 'label', label: 'Label', key: 'label', type: 'text', sortable: true },
  { id: 'type', label: 'Type', key: 'type', type: 'text', sortable: true },
  {
    id: 'defaultWeight',
    label: 'Default Weight',
    key: 'defaultWeight',
    type: 'number',
    sortable: true,
  },
  { id: 'count', label: 'Count', key: 'count', type: 'number', sortable: true },
  {
    id: 'dictionaryNecessity',
    label: 'Dictionary Necessity',
    key: 'dictionaryNecessity',
    type: 'text',
    sortable: true,
  },
  {
    id: 'category',
    label: 'Category',
    key: 'category',
    type: 'select',
    sortable: false,
  },
  {
    id: 'active',
    label: 'Active',
    key: 'active',
    type: 'checkbox',
    sortable: false,
  },
];

const words = [
  'Lionel Messi',
  'Cristiano Ronaldo',
  'Michael Jordan',
  'Michael Phelps',
  'Roger Federer',
  'Serena Williams',
  'Usain Bolt',
  'Rafael Nadal',
  'LeBron James',
  'Muhammad Ali',
  'Tiger Woods',
  'Diego Maradona',
  'Kobe Bryant',
  'Lewis Hamilton',
  'Wayne Gretzky',
  'Alexander Ovechkin',
  'Novak Djokovic',
  'Ben Hogan',
  'Andre Agassi',
  "Shaquille O'Neal",
];

const generateItem = (id: string): Item => ({
  id,
  label: words[Math.floor(Math.random() * words.length)],
  type: `Type ${String.fromCharCode(65 + Math.floor(Math.random() * 3))}`,
  defaultWeight: Math.floor(Math.random() * 100) + 1,
  count: Math.floor(Math.random() * 1000) + 1,
  dictionaryNecessity: ['High', 'Medium', 'Low'][Math.floor(Math.random() * 3)],
  category:
    availableOptions[Math.floor(Math.random() * availableOptions.length)],
  active: Math.random() > 0.5,
});

const items: Item[] = Array.from({ length: 100 }, (_, index) =>
  generateItem(uuidv4()),
);
---

<Layout title="Grid spike">
  <main class="p-8">
    <Grid columns={columns} items={items} client:load />
  </main>
</Layout>
