---
import Layout from '../layouts/Layout.astro';
import {
  Grid,
  type Column,
  type Item,
  type ItemValue,
  type Option,
} from '../components/Grid';
import { v4 as uuidv4 } from 'uuid';

const options: Option[] = [
  { id: 'cat1', label: 'Category 1' },
  { id: 'cat2', label: 'Category 2' },
  { id: 'cat3', label: 'Category 3' },
];

const columns: Column<ItemValue>[] = [
  { id: 'id', label: 'Id', key: 'id', type: 'text', sortable: true },
  { id: 'label', label: 'Label', key: 'label', type: 'text', sortable: true },
  { id: 'type', label: 'Type', key: 'type', type: 'text', sortable: true },
  {
    id: uuidv4(),
    label: 'Default Weight',
    key: 'defaultWeight',
    type: 'number',
    sortable: true,
  },
  { id: 'count', label: 'Count', key: 'count', type: 'number', sortable: true },
  {
    id: 'dictionaryNecessity',
    label: 'Dictionary Necessity',
    key: 'dictionaryNecessity',
    type: 'text',
    sortable: true,
  },
  {
    id: 'category',
    label: 'Category',
    key: 'category',
    type: 'select',
    sortable: false,
  },
  {
    id: 'active',
    label: 'Active',
    key: 'active',
    type: 'checkbox',
    sortable: false,
  },
];

const words = [
  'Alpha',
  'Bravo',
  'Charlie',
  'Delta',
  'Echo',
  'Foxtrot',
  'Golf',
  'Hotel',
  'India',
  'Juliet',
];

const generateItem = (id: string): Item<ItemValue> => ({
  id,
  value: {
    id,
    label: words[Math.floor(Math.random() * words.length)],
    type: `Type ${String.fromCharCode(65 + Math.floor(Math.random() * 3))}`,
    defaultWeight: Math.floor(Math.random() * 100) + 1,
    count: Math.floor(Math.random() * 1000) + 1,
    dictionaryNecessity: ['High', 'Medium', 'Low'][
      Math.floor(Math.random() * 3)
    ],
    category: options[Math.floor(Math.random() * options.length)],
    active: Math.random() > 0.5,
  },
});

const items: Item<ItemValue>[] = Array.from({ length: 100 }, (_, index) =>
  generateItem(uuidv4()),
);
---

<Layout title="Grid spike">
  <main class="p-8">
    <Grid columns={columns} items={items} client:load />
  </main>
</Layout>
